/* reset */
*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:400;}    
a{text-decoration:none; color:inherit; }
strong,b{font-weight:400;}
i,em,address{font-style: normal;}
ul,ol{list-style:none;}

/* layout */
.container{
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid green;
    background: #ffc845;
    width: 1320px;
    margin:0 auto ;
    height: auto;
}
.container>h1{
    font-size: 2rem;
    font-weight: bold;
}
.container h3{
    font-size: 1.3rem;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
.container p{
    border-top: 1px solid #a1803d;
    color: #a1803d;
}
.container>ul{
    display: flex;
}
.container li{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    border: 1px solid blue;
}
.container li:last-of-type{
    margin-right: 0;
}
.container>ul img{
    width: 250px;
    object-fit: contain;
}
