*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:400;}    
a{text-decoration:none; color:inherit; }
strong,b{font-weight:400;}
i,em,address{font-style: normal;}
ul,ol{list-style:none;}

/* common */
html{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.blankstyle:after{
    content:"";
    width:12px;
    height:12px;
    display: inline-block;
    border: 1px solid red!important;
    margin-left:4px;
    background:url("../img/icn_header_new_win.svg") no-repeat 50% 50%;
}
/* layout */
.contents_wrap{}
/* header */
header{
    position: fixed;
    left:0; top:0;
    width:100%;
    z-index: 1000;
    color: white;
    height: 70px;
    /* 높이를 잡아주지 않으면 헤더영역에 transition효과가 안 나타난다 */
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
header:after{
    content:"";
    position:absolute;
    left:0;top:70px;
    width:100%;
    height:1px;
    background:#ddd;
}
header:hover{
    background:#fff;
    color:#000;
    height:300px;
}
.innerheader{
    width:1440px;
    margin:0 auto;
    display:flex;
    height:70px;
    justify-content: space-between;
    align-items: center;
}   
.logoArea {width: 160px;}
.logoArea img {width:100%; display:none;}
.logoAre a{
    display:block;
    width:160px;
    height:26px;
    background:url("../img/cm_bi_white.svg") no-repeat 50% 50%;
    background-size:contain;
}
header:hover .logoAre a{
    background:url(../img/cm_bi_black.svg) no-repeat 50% 50%;
    background-size: contain;
}
.langList{width: 160px;}
.gnb{width: 800px;}
.gnb>ul{display: flex;height:70px;}
.gnb>ul>li{
    flex: 1;
    text-align: center;
    position: relative;
    
    display: flex;
    justify-content:center;
    align-items:center;
    /* lign-height:70px; 를 주게되면 그 자식태그인 li도 상속이 되기 때문에 권장하지 않는다 */
}
.gnb>ul>li>a{
    font-weight: bold;
    font-size:1.1rem;
}
.gnb>ul>li>ul{
    position:absolute;
    left:0;top:70px;
    width: 100%;
    padding-top:20px;
    color: #777;
}
.gnb>ul>li>ul>li{
    margin-bottom: 10px;
}
.gnb>ul>li>ul>li:hover{
    color:#000;
}
.gnb>ul>li>ul>li:last-of-type{margin-bottom: 0;}

.langList>ul{
    display: flex;
    justify-content: space-between;
}
.langList>ul>li{
    flex:1;
    text-align:center;
    position: relative;
}
.langList>ul>li:after{
    content:"";
    /* 인라인 태그는 글씨처럼 나란히 배치가 된다 */
    position:absolute;
    /* 자동으로 인라인 블록 태그 형태가 된다 */
    right:o; top:calc(50% - 5px);
    width:1px; height:10px; background:white;
}
.langList>ul>li:last-of-type:after{display:none;}
/* main */
main{
    position: relative;
}
.videoBanner{
    height:780px;
    position: relative;
}
.videoBanner:after{
    content:"";
    position:absolute;
    position:absolute;
    left:0;top:0;
    width:100%;
    height:100%;
    background: rgb(0,0,0,0.2)
    /* opacity:0.2; */
}
.videoBanner video{
    width:100%;
    height:100%;
    object-fit:cover;
}
.videoBanner>.flotingTxt{
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    z-index: 10;
    text-align: center;
    /* a태그의 자세히보기를 가운데 정렬 하기위해서는 부모태그에 가운데 정렬을 해주어야 하고
    a 태그 형태인 inline, inline-block은 text와 같은 취급을 받는다 */
}
.flotingTxt>h2{
    margin-bottom:50px;
}
.flotingTxt>a{
    padding:30px 110px;
    background:rgba(255, 255, 255, 0.4);
    /* bg color에서 투명도를 지정하는 것과 opacity: 0.4;를 지정해 주는 것은 다르다! */
    display:inline-block;
}
/* news */
.news{
    width: 1440px;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
}
.news>h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom:26px;
}
.news>ul{
    display:flex;
    border-right: 1px solid #EBEBEB;
    flex: 1;
    padding:0 30px;
}
.news>ul>li:first-of-type{
    margin-left: 0;
}
.news>ul>li:last-of-type{
    margin-right: 0;
    border-right:none;
}
.news>ul>li h4{
    font-size:15px;
    font-weight: bold;
    margin-bottom:16px;
}
.date{
    font-size: 10px;
    color: #9a9a9a;
    margin-bottom: 28px;
}

/* culture */
.culture{
    border: 1px solid red;
    width: 1440px;
    margin:0 auto;
}
.culture>ul{
    display:flex;
    height: 574px;
}
.culture>ul>li{
    border: 1px solid lime;
    flex: 1; 
    /* 또는 width:20% */
    position: relative;
    overflow: hidden;
}
.culture>ul>li>a{
    display: block;
    height: 100%;
}
.culture>ul>li>a>img{
    width:100%;
    height:100%;
    object-fit:cover;
    filter: grayscale(1);
    transition: all 0.5s ease 0s; 
}
.culture>ul>li:hover>a>img{
    filter: grayscale(0);
    transform: scale(1.3);
}
.floatingbox{
    position: absolute;
    left:50%; bottom:60px;
    transform: translateX(-50%);
    /* 각각 너비의 절반만큼 빼야 텍스트가 중앙에 배치가됨 */
    text-align: center;
    color: #fff;
    /* 자동으로 그 자식도 흰색으로 상속받음 */
}
.floatingbox>h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
    transform: translateY(20px);
    transition: all 0.5s ease 0s;
}
.culture>ul>li:hover .floatingbox h4{
    transform: translateY(0);
}
.floatingbox>p{
    padding-top: 30px;
    position: relative;
    opacity: 0;
    transition:all 0.5s ease 0s;
}
.culture>ul>li:hover .floatingbox>p{
    opacity: 1;
}
.floatingbox>p:after{
    content: "";
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    width:30px;
    height:1px;
    background: #fff;
}








   

/* footer */
footer{
    position: relative;
}
.foot2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: rgb(104, 103, 103);
  }
  
.foot::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 77px;
    width: 100%;
    height: 1px;
    background: rgb(104, 103, 103);
  }
.foot{
    display: flex;
    width: 1440px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:30px;
}
.foot::after{
    /* border: 1px solid red; */

}
.footMenu1>ul{
    display: flex;
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
}
.footMenu1>ul>li>ul{
    color: #777;
}

.footMenu2>ul{
    /* border: 1px solid green; */
    display: flex;
    /* margin:0 auto; */
    justify-content: space-between;
}
.coInfo{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.footLogo{
    display: flex;
    align-items: center;
}
.footLogo>h1 img{
    /* border: 1px solid red; */
    width: 100px;height:100px;
}
.snsMenu{
    /* border: 1px solid green; */
    position: absolute;
    top:0; right: 200px;
}
.snsMenu>ul{
    display:flex;
    width:100%;
    height: 100%;
    position: absolute;
    bottom:-40px;left: -50px;
}
.snsMenu>ul>li{
    margin-left:10px;
}
.snsMenu>ul>li img{
    width: 30px;
    height: 30px;
}