/* reset */
*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:400;}    
a{text-decoration:none; color:inherit; }
strong,b{font-weight:400;}
i,em,address{font-style: normal;}
ul,ol{list-style:none;}

/* common */
html{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.blankstyle:after{
    content:"";
    width:12px;
    height:12px;
    display: inline-block;
    border: 1px solid red!important;
    margin-left:4px;
    background:url("../img/icn_header_new_win.svg") no-repeat 50% 50%;
}



