
@media (max-width:768px){
    /* (300/340)*100 */
    .contents_wrap{}
    /* header */

    .pc{display:none;}
    header.mo{
        position:fixed;
        left:0;
        top:0;
        width: 100%;
        height: 54px;
        z-index: 1000;
    }
   .innerHeader{
        width: 88%;
        /* 모바일 디자인 너비 (header) : 340px
        innerheader 의 영역을 재보고(303px) %수치로 나타내야함  
        모바일 화면 공식 : ( 303px /340px) X 100 % */
        margin:0 auto;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items:c ;
   }
   .btnMoMenu{
        width:6.4vw;
        /*  .btnmomenu (22/303 innerheader의 너비) X 100 %  또는
        (22/340전체 화면의 너비)X 100 vw */
        height:6.4vw;
   }
   .btnMoMenu>span{
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
        margin:3px 0 ;
   }
   .btnMenuLang{
        width:6.4vw ;
        height: 6.4vw;
        /*  vw:화면너비 기준으로 설정 */
        /* %단위는 부모태그인 innerheader를 기준으로 너비가 설정되므로 
        사용하지 않는다 */
   }
   .btnMenuLang img{
        width:100% ;
        height: 100%;
        object-fit: contain;
   }
   .moLogo{
        width: 31.47vw;
        /* 화면너비에 대한 비율: (107/340)*100*/
        max-width: 230px;
   }
   .moLogo a img{
        width: 100%;
   }

   /* mobile menu */
   .moMenu{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1100;
        pointer-events: none;
   }
   .blackcover{
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s ease 0s;
        pointer-events: none;
   }
   .moMenu.show .blackcover{
        opacity: 0.8;
        pointer-events: auto;
   }
   .moGnb{
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        max-width: 310px;
        min-width: 290px;
        height: 100%;
        /* overflow: auto; */
        /* 바깥으로 흘러넘치는 콘텐츠는 스크롤바를 만들어서 표현*/
        transform: translateX(-100%);
        /* 기준이 본인 기준이므로 75%가 아니라 100%임 */
        transition: all 0.5s ease 0.1s;
   }
   .moMenu.show .moGnb{
        transform: translateX(0%);
   }
   .logoMo{
        width: 6.4vw;
        width: 31.47vw;
        max-width: 230px;
        margin:0 auto;
        margin-top: 22px;
        margin-bottom: 42px;
   }
   .logoMo img{
        width: 100%;
   }
   .mobileMenuList ul{
        /* display: none; */
        margin-top: 14px;
        padding-left: 10px;

   }
   .mobileMenuList ul>li{
        color: #9a9a9a;
        font-weight: 400;
        margin-bottom: 6px;
   }
   .mobileMenuList ul>li:last-of-type{
        margin-bottom: 0;
   }
   .mobileMenuList{
        width: 88%;
        margin:0 auto;
        height: calc(100% - 130px);
        overflow: auto;
   }
   .mobileMenuList>li{
        /* padding:12px ; */
        font-size: 1.12rem;
        font-weight: bold;
        position: relative;
   }
   .mobileMenuList>li>a{
        border-bottom: 1px solid #ccc;
        display: block;
        padding: 12px;
   }
   .mobileMenuList>li:after{   
        content: "";
        position: absolute;
         /*position을 주면 기본형태 display:inline; 에서 lnline block형태로 자동으로 변환됨 */
        width: 14px;
        height: 14px;
        border: 1px solid #161616;
        right: 20px;
        top: 12px;
        border-right: none;
        border-top: none;
        transform: rotate(-45deg);
   }

    /* main */
    main{
        position: relative;
    }
    .videoBanner{
        height:64vh;
        /* 사용하는 휴대폰의 다양한 모바일화면의 환경에 따라 픽셀단위보다 vh단위를 사용한다 */
        position: relative;
    }
    .videoBanner:after{
        content:"";
        position:absolute;
        position:absolute;
        left:0;top:0;
        width:100%;
        height:100%;
        background: rgb(0,0,0,0.2)
        /* opacity:0.2; */
    }
    .videoBanner video{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .videoBanner>.flotingTxt{
        position:absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        z-index: 10;
        text-align: center;
        /* a태그의 자세히보기를 가운데 정렬 하기위해서는 부모태그에 가운데 정렬을 해주어야 하고
        a 태그 형태인 inline, inline-block은 text와 같은 취급을 받는다 */
        width: 74vw;
    }
    .flotingTxt>h2{
        margin-bottom:50px;
        width: 100%;
    }
    .flotingTxt>h2 img{
        width: 100%;

    }
    .flotingTxt>a{
        padding: 3vw 13vw;
        background:rgba(255, 255, 255, 0.391);
        /* bg color에서 투명도를 지정하는 것과 opacity: 0.4;를 지정해 주는 것은 다르다! */
        display:inline-block;
    }
    /* news */
    .news{
        width: 90%;
        margin:0 auto;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .news>h3{
        font-size: 18px;
        font-weight: bold;
        margin-bottom:26px;
    }
    .news ul{
        display:flex;
        /* flex-direction: column; */
    }
    .news ul>li{
       
    }
    .news ul>li h4{
        font-size:15px;
        font-weight: bold;
        margin-bottom:16px;
    }
    .news .swiper-pagination{
        position: relative;
        margin-top: 50px;
    }
    .date{
        font-size: 10px;
        color: #9a9a9a;
        margin-bottom: 28px;
    }
    
    /* culture */
    .culture{
        width: 100%;
        margin-bottom:160px;
    }
    .culture>ul{
        
    }
    .culture>ul>li{
        border: 1px solid lime;
        position: relative;
        height: 220px;
        /* 또는 20vh */
        overflow: hidden;
        /* 또는 width:20% */
        margin-bottom: 1px;
    }
    .culture>ul>li>a{
        display: block;
        height: 100%;
    }
    .culture>ul>li>a>img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .floatingbox{
        border: 1px solid red;
        position: absolute;
        left:50%; top:50%;
        transform: translateX(-50%) translateY(-50%);
        /*갖고있는 너비와 높이 절반만큼 -> 항상 중앙으로 배치됨*/
        text-align: center;
        color: #fff;
        /* 자동으로 그 자식도 흰색으로 상속받음 */
    }
    .floatingbox>h4{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 18px;
    }
    .floatingbox>p{
        padding-top: 30px;
        position: relative;
        transition:all 0.5s ease 0s;
    }
    .floatingbox>p:after{
        content: "";
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        top:0;
        width:30px;
        height:1px;
        background: #fff;
    }
    .notice{
        /* border: 1px solid red; */
        width:1400px;
        margin:0 auto;
    }
    .notice>ul{
        display: flex;
        justify-content:space-between;    
    }
    .notice>ul>li{
        width:calc((100% - 60px)/4) ;
        /* border: 1px solid blue; */
    }
    .notice li figure{
        height: 190px;
        overflow: hidden;
    }
    /* 흘러넘치는 이미지를 가리기 위해 만든 figure */
    .notice li figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .notice li p{
        font-size:12px;
        margin:20px 0;
    }
    .notice li h4{
        font-size: 15px;
        font-weight: bold;
    }
    /* footer */
    footer{margin-top: 200px;}
    /* 다른서브페이지에서도 footer가 사용될 때 자동으로 여백이 적용됨*/
    .footMenu1{
        border: 1px solid #ebebeb;
        padding-top: 70px;
        margin-bottom: 50px;
    }
    .footMenu1>ul{
        /* border: 1px solid red; */
        width: 1120px;
        margin:0 auto;
        display: flex;
    }
    .footMenu1>ul>li{
        /* border: 1px solid blue; */
        width:calc(100%/6) ;
    }
    .footMenu1>ul>li>a{
        font-weight: bold;
        font-size: 1.12rem;
    }
    .footMenu1>ul>li>ul{
        /* border: 1px solid red; */
        margin-top: 18px;
        color: #9a9a9a;
    }
    .footMenu1>ul>li>ul>li{
        margin-bottom: 14px;
        transition: all 0.5s ease 0s;
    }
    .footMenu1>ul>li>ul>li:hover{
        color: #000;
    }
    .footMenu1>ul>li>ul>li:last-of-type{
        margin-bottom:0;
    }
    .footMenu2{
        border: 1px solid #ebebeb;
        padding-bottom: 75px;   
    }
    .footMenu2>ul{
        /* border: 1px solid blue; */
        width: 1120px;
        margin:0 auto;
        display: flex;
    }
    .footMenu2>ul>li{
        /* border: 1px solid red; */
        width:calc(100%/6);
        font-size: 1.12rem;
        font-weight: bold;
    }
    .footMenu2>ul>li>.blue{
        color: #3774DA;
    }
    .coInfo{
        width: 1440px;
        margin:0 auto;
        /* border:1px solid red; */
        display: flex;
        justify-content: space-between;
        padding:26px 0;
    }
    .coInfo:before{
        content: "";
        width: 138px;
        /* border: 1px solid blue; */
    }
    .footLogo{
        /* border: 1px solid red; */
        display: flex; 
        align-items: center;
    }
    .copy{
        color: #9a9a9a;
        margin-left: 36px;
    }
    .snsMenu{
        /* border: 1px solid red; */
        width: 138px;
    
    }
    .snsMenu>ul{
        display: flex;
        justify-content: space-between;
    }
    .snsMenu>ul>li{
        /* border: 1px solid red; */
        width: 38px;
    }
    .snsMenu>ul>li img{
        width: 100%;
    }
    .footLogo img{
        width: 120px;
    }


}


   

