*{margin:0;padding:0;}
.box{
    width:600px;
    height: 700px;
    margin:0 auto;
    background: pink;
    font-size:5rem ;
    text-transform: uppercase;
    display: flex;
    flex-direction:row;
    /* ↑기본값이므로 주석처리해도 위의 속성이 적용됨 */
    justify-content:flex-start;
    /* justify가 들어가면 무조건 메인축을 기준으로 한다 */
    align-items:flex-start ;
    /* align가 들어가면 무조건 수직축을 기준으로 한다 */
    /* align-content: center; */
    /* flex-wrap: wrap; */
}
/* .box>div{float: left;}
.box:after{content: "";display: block;clear: both;} */

.box>div{
    /* flex-basis: 100px;
    flex-grow: 1; */
    /* flex-shrink: 1; */
    flex:1;
    /* flex-basis: 0;
    flex-grow:1;
    flex-shrink:1; 와 동일함*/
}
.box .a{
    background: red;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* order: 0; */
}
.b{
    background: green;
    /* order: 2; */
}
.c{
    background: blue;
    /* order: 3; */
}
.d{
    background: orange;
    /* order: 1; */
}

