h1,p{border:1px solid red;}
span{border:1px solid blue; }
.box{
    width: 300px;
    height: 300px;
}
.line{
    display:inline-block;
    width: 300px;
    height: 300px;
}
h1{
    /* display: inline; */
    width: 300px;
    height: 300px;
}    
.listbox{
    border: 1px solid red;
}
.listbox{
    border: 1px solid blue;
    display: inline-block;
    width: 100px;
    height: 100px;
}